[gcode_macro HOMING_CONFIG]
variable_order: "x,y,z"
#variable_dowith_z: "x,y"
variable_start_zhop: 10
variable_retract_x: 10
variable_retract_y: 10
variable_retract_z: 20
gcode:
  # RESPOND PREFIX="info" MSG="Homing config..."

[gcode_macro HOMING_OVERRIDE_BEFORE]
gcode:
  # RESPOND PREFIX="info" MSG="Homing > Before homing: {params.X} - {params.Y} - {params.Z}"
  {% if printer['gcode_macro HOMING_NOW'].do_x|int!=0 or printer['gcode_macro HOMING_NOW'].do_y|int!=0 or printer['gcode_macro HOMING_NOW'].do_z|int!=0 %}
    {% if printer['gcode_macro HOMING_OVERRIDE_ZHOP'] is defined %}
        HOMING_OVERRIDE_ZHOP
    {%endif%}
    {% if printer['gcode_macro HOMING_CONFIG'].start_zhop is defined and printer['gcode_macro HOMING_CONFIG'].start_zhop|int>0 %}
      {% if printer['gcode_macro HOMING_STATUS'].z|int == 0 %}
        # RESPOND PREFIX="info" MSG="Home > Fake homing Z so it can move down prior to homing"
        SET_KINEMATIC_POSITION Z=0
        ## {printer['gcode_macro HOMING_CONFIG'].start_zhop|int}
      {% endif %}
      {% if printer.toolhead.position.z|float<printer['gcode_macro HOMING_CONFIG'].start_zhop|float %}
        # RESPOND PREFIX="info" MSG="Home > Moving up {printer['gcode_macro HOMING_CONFIG'].start_zhop} mm before homing"
        G91
        G1 Z{printer['gcode_macro HOMING_CONFIG'].start_zhop|float}
        G90
        UNHOME AXES=Z
      {% endif %}
    {% endif %}
  {% endif %}


[gcode_macro HOMING_OVERRIDE_X]
gcode:
  # RESPOND PREFIX="info" MSG="Homing > X"
  G90
  G28.1 X
  G91
  {% if printer.configfile.settings.stepper_x.homing_positive_dir|upper == 'TRUE' %}
    G0 X-{printer['gcode_macro HOMING_CONFIG'].retract_x} F2000
  {% else %}
    G0 X{printer['gcode_macro HOMING_CONFIG'].retract_x} F2000
  {% endif %}
  G90

  
[gcode_macro HOMING_OVERRIDE_Y]
gcode:
  # RESPOND PREFIX="info" MSG="Home > Y"
  G90
  G28.1 Y
  G91
  {% if printer.configfile.settings.stepper_y.homing_positive_dir|upper == 'TRUE' %}
    G0 Y-{printer['gcode_macro HOMING_CONFIG'].retract_y} F2000
  {% else %}
    G0 Y{printer['gcode_macro HOMING_CONFIG'].retract_y} F2000
  {% endif %}
  G90


[gcode_macro HOMING_OVERRIDE_Z]
gcode:
  {% set P = params.P|default(1)|int %}

  # RESPOND PREFIX="info" MSG="Homing > Z"
  {% if printer['gcode_macro HOMING_STATUS'].x|int != 1 %}
    HOMING_OVERRIDE_X
    SET_GCODE_VARIABLE MACRO=HOMING_STATUS VARIABLE=x VALUE=1
  {% endif %}

  {% if printer['gcode_macro HOMING_STATUS'].y|int != 1 %}
    HOMING_OVERRIDE_Y
    SET_GCODE_VARIABLE MACRO=HOMING_STATUS VARIABLE=y VALUE=1
  {% endif %}

  __ATTACH_PROBE RETURN_TO_POSITION=FALSE
  # G1 X150 Y260.00 F5000
  # G1 X150 Y279.00 F2500
  G1 X165.50 Y278.00 F5000
  # G1 X{printer["gcode_macro _BED_SIZE"].bed_size[0] / 2} Y{printer["gcode_macro _BED_SIZE"].bed_size[1] / 2} F5000

  G28.1 Z
  G91
  {% if printer.configfile.settings.stepper_z.homing_positive_dir|upper == 'TRUE' %}
    G0 Z-{printer['gcode_macro HOMING_CONFIG'].retract_z} F2000
  {% else %}
    G0 Z{printer['gcode_macro HOMING_CONFIG'].retract_z} F2000
  {% endif %}
  G90

  __DOCK_PROBE RETURN_TO_POSITION=FALSE
  {% if P == 1 %}
    # G1 X{printer["gcode_macro _PARK_VARIABLES"].park_pos[0]|float} Y{printer["gcode_macro _PARK_VARIABLES"].park_pos[1]|float} Z{printer["gcode_macro _PARK_VARIABLES"].park_pos[2]|float} F5000
  {% endif %}


# [gcode_macro HOMING_OVERRIDE_AFTER]
# gcode:
#   RESPOND PREFIX="info" MSG="Homing > After homing: {params.X} - {params.Y} - {params.Z}"

# [gcode_macro HOMING_OVERRIDE_ZHOP]
# gcode:
#   RESPOND PREFIX="info" MSG="Homing > Z Hop"
#   SET_KINEMATIC_POSITION Z=0
#   G91
#   G0 Z{printer['gcode_macro HOMING_CONFIG'].start_zhop|int}
#   G90
