[gcode_macro HOMING_CONFIG]
variable_order: "x,y,z"
#variable_dowith_z: "x,y"
variable_start_zhop: 10
# variable_retract_x: 10
# variable_retract_y: 10
# variable_retract_z: 20
gcode:
  # RESPOND PREFIX="info" MSG="Homing config..."

[gcode_macro HOMING_OVERRIDE_BEFORE]
gcode:
  # RESPOND PREFIX="info" MSG="Homing > Before homing: {params.X} - {params.Y} - {params.Z}"
  {% if printer['gcode_macro HOMING_NOW'].do_x|int!=0 or printer['gcode_macro HOMING_NOW'].do_y|int!=0 or printer['gcode_macro HOMING_NOW'].do_z|int!=0 %}
    {% if printer['gcode_macro HOMING_OVERRIDE_ZHOP'] is defined %}
        HOMING_OVERRIDE_ZHOP
    {%endif%}
    {% if printer['gcode_macro HOMING_CONFIG'].start_zhop is defined and printer['gcode_macro HOMING_CONFIG'].start_zhop|int>0 %}
      {% set status_before = printer['gcode_macro HOMING_STATUS'].z|int %}
      {% if status_before == 0 %}
          SET_KINEMATIC_POSITION Z=0
      {% elif status_before == 2 %}
          MARK_AS_HOMED AXES=Z
      {% endif %}
      {% if printer.toolhead.position.z|float < printer['gcode_macro HOMING_CONFIG'].start_zhop|float %}
        # RESPOND PREFIX="info" MSG="Home > Moving up {printer['gcode_macro HOMING_CONFIG'].start_zhop} mm before homing"
        G91
        G0 Z{printer['gcode_macro HOMING_CONFIG'].start_zhop|float}
        G90
      {% endif %}
      {% if status_before != 1 %}
        MARK_AS_UNHOMED AXES=Z
      {% endif %}
    {% endif %}
  {% endif %}


[gcode_macro HOMING_OVERRIDE_X]
gcode:
  # RESPOND PREFIX="info" MSG="Homing > X"
  G28.1 X

  
[gcode_macro HOMING_OVERRIDE_Y]
gcode:
  # RESPOND PREFIX="info" MSG="Home > Y"
  G28.1 Y


[gcode_macro HOMING_OVERRIDE_Z]
gcode:
  {% set P = params.P|default(1)|int %}

  # RESPOND PREFIX="info" MSG="Homing > Z"
  {% if printer['gcode_macro HOMING_STATUS'].x|int != 1 %}
    HOME_X
    SET_GCODE_VARIABLE MACRO=HOMING_STATUS VARIABLE=x VALUE=1
  {% endif %}

  {% if printer['gcode_macro HOMING_STATUS'].y|int != 1 %}
    HOME_Y
    SET_GCODE_VARIABLE MACRO=HOMING_STATUS VARIABLE=y VALUE=1
  {% endif %}

  __ATTACH_PROBE RETURN_TO_POSITION=FALSE HOMING_MOVE=TRUE

  _MOVE_TO_Z_ENDSTOP
  # G0 X{printer["gcode_macro _BED_SIZE"].bed_size[0] / 2} Y{printer["gcode_macro _BED_SIZE"].bed_size[1] / 2} F5000

  _CHECK_PROBE state=attached
  G28.1 Z

  __DOCK_PROBE RETURN_TO_POSITION=FALSE HOMING_MOVE=TRUE

  {% if P == 1 %}
    # G0 X{printer["gcode_macro _PARK_VARIABLES"].park_pos[0]|float} Y{printer["gcode_macro _PARK_VARIABLES"].park_pos[1]|float} Z{printer["gcode_macro _PARK_VARIABLES"].park_pos[2]|float} F5000
  {% endif %}

[gcode_macro _MOVE_TO_Z_ENDSTOP]
gcode:
  G90
  G0 X165.50 Y278.00 F5000


# [gcode_macro HOMING_OVERRIDE_AFTER]
# gcode:
#   RESPOND PREFIX="info" MSG="Homing > After homing: {params.X} - {params.Y} - {params.Z}"

# [gcode_macro HOMING_OVERRIDE_ZHOP]
# gcode:
#   RESPOND PREFIX="info" MSG="Homing > Z Hop"
#   SET_KINEMATIC_POSITION Z=0
#   G91
#   G0 Z{printer['gcode_macro HOMING_CONFIG'].start_zhop|int}
#   G90
