[thermistor CMFB103F3950FANT]
temperature1: 0.0
resistance1: 32116.0
temperature2: 40.0
resistance2: 5309.0
temperature3: 80.0
resistance3: 1228.0

[temperature_sensor Octopus]
sensor_type: temperature_mcu
gcode_id: OCTOPUS
min_temp: 10.0
max_temp: 75.0
report_time: 1.0

[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host
gcode_id: RPI
min_temp: 10.0
max_temp: 75.0
report_time: 1.0

[temperature_sensor Block_Temperature]
sensor_type: block_temperature
heater_name: extruder
gcode_id: BE
min_temp: 0
max_temp: 325
report_time: 0.5

[temperature_sensor Chamber_Temp]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF5
gcode_id: CHAMBER_TH
min_temp: 0
max_temp: 100
# report_time: 2.0
